@tailwind base;
@tailwind components;
@tailwind utilities;



       .wrapper{
        overflow-x: hidden;
        
        }
        .decorat:hover .box {
            box-shadow: 10px 10px 12px rgb(229, 227, 227);


        }

        .decorat:hover .round {
            background-color: rgb(74, 191, 230);

        }

        .decorat:hover .wave {
            opacity: 1;
        }

        .bgset {
            background-image: url("./images/feature-section-2BG.svg");
            min-height: 200vh;
            width: 100vw;



        }

        .b-style{
            border: 3px solid rgb(250, 250, 250);
            box-shadow: 2px 2px 8px rgb(231, 230, 230);
        }

        .b-style:hover{
            transform: scale(1.02);
        }

    .corefeaturesection{
            background-size: 100% 100%;
           
        } 

        .anim{
            animation-name: move;
            animation-delay: 0ms;
            animation-duration: 15s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }

        @keyframes move {
            0%{
                transform: translateY(0%);

            }
            100%{
                transform: translateY(-100%);
            }
            
        }
